<div class="card-columns">
  <div class="card" *ngFor="let user of users">
    <img class="card-img-top" [src]="user?.avatar" [alt]="user?.avatar" />
    <div class="card-body">
      <div class="card-title">{{ user?.first_name }} {{ user?.last_name }}</div>
      <p class="card-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima dolore
        modi, quia harum, optio inventore maxime illum consequatur,
        necessitatibus suscipit eligendi corrupti ex tempore. Eius similique
        impedit quasi? Fugit, exercitationem.
      </p>
      <p class="card-text">
        <span class="text-muted"> ID: {{ user?.id }} </span>
      </p>
    </div>
  </div>
</div>
